In [1]:
#IMPORTANT
#Code below makes sure all the code in each cell is outputted
#Code from Programming for Business Analytics Workbooks

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#IMPORTING RELEVANT PACKAGES

import googlemaps     #importing Google Maps package
from datetime import datetime     #importing datetime function from datetime package
import pandas as pd     #importing pandas and naming it as pd
import re     #importing re (this is used for the manipulation of strings type variables)

In [3]:
#IMPORTING RELEVANT DATASETS

boroughs_df = pd.read_csv("01. borough_centroids.csv")
print(boroughs_df.head())
employment_df = pd.read_csv("01. destination_employment_summarised.csv")
print(employment_df.head())
print(employment_df.shape)
postcodes_df = pd.read_csv("01. postcodes_to_boroughs.csv")
print(postcodes_df.head())

           Borough Name   Latitude  Longitude
0  Barking and Dagenham  51.545272   0.133522
1                Barnet  51.616019  -0.210017
2                Bexley  51.458811   0.140346
3                 Brent  51.558554  -0.267811
4               Bromley  51.371984   0.051538
  Name  Count of Workers  Latitude  Longitude
0  BR1             24324  51.41107    0.02192
1  BR2             11510  51.38858    0.02237
2  BR3             12107  51.40297   -0.03020
3  BR4              3699  51.37559   -0.00695
4  BR5              9398  51.38983    0.10436
(297, 4)
  Postcode In Use?   Latitude  Longitude          County  Borough
0  BR1 1AA     Yes  51.401546   0.015415  Greater London  Bromley
1  BR1 1AB     Yes  51.406333   0.015208  Greater London  Bromley
2  BR1 1AD      No  51.400057   0.016715  Greater London  Bromley
3  BR1 1AE     Yes  51.404543   0.014195  Greater London  Bromley
4  BR1 1AF     Yes  51.401392   0.014948  Greater London  Bromley

In [4]:
#CREATING 2 SETS OF COLUMNS(lists) from origin data and the educ data
#1st set of 2 columns are the borough (origin) and destination names put together
#2nd set of 2 columns are the borough (origin) and destination latitudes and longitudes put together

origins_names = list(boroughs_df["Borough Name"])     #assigning the values in borough names column to the origin name variable
destinations_names = list(employment_df["Name"])     #assigning the values in destination names column to the destination name variable

#using list comprehension to put together the origin and destination names in 2 columns (lists)
origins_to_destinations_names = [[x, y] for x in origins_names for y in destinations_names]
#checking the first 5 rows of the columns
print(origins_to_destinations_names[:5])

#zipping the values in the borough latitude and longitude columns together into one tuple and assign the value to the origin location variable
origins_locs = list(zip(boroughs_df["Latitude"], boroughs_df["Longitude"]))
#zipping the values in the borough latitude and longitude columns together into one tuple and assign the value to the origin location variable
destinations_locs = list(zip(employment_df["Latitude"], employment_df["Longitude"]))

#using list comprehension to put together the origin and destination latitudes and longitudes in 2 columns (lists)
origins_to_destinations_locs = [[x, y] for x in origins_locs for y in destinations_locs]
#checking the first 5 rows of the columns
print(origins_to_destinations_locs[:5])

[['Barking and Dagenham', 'BR1'], ['Barking and Dagenham', 'BR2'], ['Barking and Dagenham', 'BR3'], ['Barking and Dagenham', 'BR4'], ['Barking and Dagenham', 'BR5']]
[[(51.54527247, 0.13352213400000001), (51.41107, 0.02192)], [(51.54527247, 0.13352213400000001), (51.38858, 0.022369999999999998)], [(51.54527247, 0.13352213400000001), (51.40297, -0.0302)], [(51.54527247, 0.13352213400000001), (51.37559, -0.00695)], [(51.54527247, 0.13352213400000001), (51.389829999999996, 0.10436)]]

In [5]:
#ENTERING JOSH'S (BROTHER) API KEY which allows me to access Google Maps API
#a new Google Maps API key can be generated by following the instructions below:
#https://developers.google.com/maps/documentation/javascript/get-api-key
gmaps = googlemaps.Client(key='AIzaSyCh3TZqgKnuiCdXRUVe9OQg2D4C3LcWF-4')

#SETTING TIME FOR DEPTATURE (8am on Monday)
#this is what all the outputs (distance and time) are based on
#8am chosen as this would be the peak of morning rush hour
dept_time_str = '23/11/20 08:00:00'
dept_time = datetime.strptime(dept_time_str, '%d/%m/%y %H:%M:%S')

In [6]:
#REAL RUN - GENERATING DISTANCE AND DURATION FIELDS

distance = []     #Empty list for distance variable, distance values from gmaps.direction function will be added here
duration = []     #Empty list for duration variable, duration values from gmaps.direction function will be added here

#gmaps.direction function automatically selects the fastest mode of public transport
#the function calculates the duration/distance/directions betweeen origin and destination
#this all done using locations (latitudes and longitudes) in the origins and destinations locations list (5 cells above)
for x, y in origins_to_destinations_locs:
    directions_result = gmaps.directions(x,
                                     y,
                                     mode = "transit",
                                     departure_time = dept_time
                                    )
    try:
        distance.append(directions_result[0]['legs'][0]['distance']['text'])     #appends the distance of the journey to the distance variable
        duration.append(directions_result[0]['legs'][0]['duration']['text'])     #appends the duration (time) of the journey to the duration variable
    #These two lines of code above are needed as the gmaps.direction function outputs lots of information
    #information includes distance, duration, step by step directions etc. and these are not all relevant to what we need
    except IndexError:
        distance.append("NA")
        duration.append("NA")

print(distance[:5])     #checking the first 5 rows of the distance variable (list)
print(duration[:5])     #checking the first 5 rows of the duration variable (list)

['34.4 km', '43.8 km', '37.2 km', '39.7 km', '48.5 km']
['1 hour 30 mins', '1 hour 54 mins', '1 hour 42 mins', '1 hour 41 mins', '1 hour 49 mins']

In [18]:
#CREATING DATAFRAME
#orgin name, destination name, distance and time between the two points, activity classification are held in the dataframe (table)

employment_activity_df = pd.DataFrame(origins_to_destinations_names, columns =['Origin', 'Destination'])     #creating data frame with its first two columns origin and destination point nmaes
employment_activity_df["Distance (km)"]=distance     #adding distance column using distance varialbe (from cell above)
employment_activity_df["Duration (mins)"]=duration     #adding duration (time) columm using duration variable (from cell above)
employment_activity_df["Activity"]="Employment"     #adding activity column - this is through categorizing all the entries as the relevant activity
print(employment_activity_df.head())     #checking the first 5 rows of the dataframe

                 Origin Destination Distance (km) Duration (mins)    Activity
0  Barking and Dagenham         BR1       34.4 km  1 hour 30 mins  Employment
1  Barking and Dagenham         BR2       43.8 km  1 hour 54 mins  Employment
2  Barking and Dagenham         BR3       37.2 km  1 hour 42 mins  Employment
3  Barking and Dagenham         BR4       39.7 km  1 hour 41 mins  Employment
4  Barking and Dagenham         BR5       48.5 km  1 hour 49 mins  Employment

In [19]:
#IDENTIFYING AND REMOVING NAs (ERRORS)

employment_activity_df.shape     #finding the number of rows in the activity table

error_rows = employment_activity_df[employment_activity_df["Distance (km)"]=="NA"]     #Subsetting rows in dataframe for rows where NA was generated in the distance/duration column
error_rows.shape     #finding the number of rows that contained error
error_rows_index = list(error_rows.index)     #creating a list of the row numbers containing the errors
employment_activity_filtered_df = employment_activity_df.drop(error_rows_index)     #filtering out the rows which contain the errors
employment_activity_filtered_df.shape     #finding the number of rows in the new table (this should be: original table rows - error rows)

na_in_distance = "NA" in employment_activity_filtered_df["Distance (km)"]     #checking if any NAs in the new table's distance column
na_in_distance
na_in_duration = "NA" in employment_activity_filtered_df["Duration (mins)"]     #checking if any NAs in the new table's duration column
na_in_duration

(9801, 5)

(1, 5)

(9800, 5)

False

False

In [20]:
#DATA PREP 1 - DISTANCE COLUMN

#removing the string " km" from the distance entries and converting the strings into a floats
#these actions are executed through list comprehension
#this will allow the dataframe to filtered/ordered by distance

employment_activity_filtered_df["Distance (km)"] = [float(((x.replace(" ", "")).replace("k","")).replace("m","")) for x in employment_activity_filtered_df["Distance (km)"]]
#checking the first 5 rows of the dataframe
print(employment_activity_filtered_df.head())

                 Origin Destination  Distance (km) Duration (mins)    Activity
0  Barking and Dagenham         BR1           34.4  1 hour 30 mins  Employment
1  Barking and Dagenham         BR2           43.8  1 hour 54 mins  Employment
2  Barking and Dagenham         BR3           37.2  1 hour 42 mins  Employment
3  Barking and Dagenham         BR4           39.7  1 hour 41 mins  Employment
4  Barking and Dagenham         BR5           48.5  1 hour 49 mins  Employment

In [21]:
#CREATING A CONVERT TIME FUNCTION
#the last function in this cell "convert time to mins" will be used to modify the Duration column's entries
#this data prepping is done in the cell below

x = '1 hour 20 mins'
y = '2 hours 20 mins'

def clean_time(text):
    text = text.strip()
    step01 = text.replace(r"s", "")
    step02 = step01.replace(r"hour", "h")
    step03 = step02.replace(r"min", "m")
    return step03

def convert_time_to_mins(text):
    step01 = re.split(r' ', clean_time(text))
    hour = int(step01[0])
    mins = int(step01[2])
    hours_to_mins = hour * 60
    full_convert = hours_to_mins + mins
    return full_convert

print(convert_time_to_mins(x))
print(convert_time_to_mins(y))

80
140

In [22]:
#DATA PREP 2 - DURATION COLUMN
#removing the strings " hour(s)" and " min(s)" from the duration entries and converting the strings into a integers
#these actions are executed through a for loop
#this will allow the dataframe to filtered/ordered by distance
converted_duration = []

for x in employment_activity_filtered_df["Duration (mins)"]:
    if "hour" not in x:
        converted_duration.append(int((x.replace("s", "")).replace(" min", "")))
    else:
        converted_duration.append(convert_time_to_mins(x))

#the output of the for loop "converted duration" is replaces the old duration column (the version that contains the unneeded strings)
employment_activity_filtered_df["Duration (mins)"] = converted_duration
#checking the first 5 rows of the dataframe
print(employment_activity_filtered_df.head())

                 Origin Destination  Distance (km)  Duration (mins)  \
0  Barking and Dagenham         BR1           34.4               90
1  Barking and Dagenham         BR2           43.8              114
2  Barking and Dagenham         BR3           37.2              102
3  Barking and Dagenham         BR4           39.7              101
4  Barking and Dagenham         BR5           48.5              109

     Activity
0  Employment
1  Employment
2  Employment
3  Employment
4  Employment

In [32]:
#ADDING WORKERS COLUMN TO DATASET

employment2_df = employment_activity_filtered_df.merge(employment_df, left_on="Destination", right_on='Name')
columns = ["Origin", "Destination", "Distance (km)", "Duration (mins)", "Activity", "Count of Workers"]
employment3_df = employment2_df[columns]
employment3_df.head()

,Origin,Destination,Distance (km),Duration (mins),Activity,Count of Workers
0,Barking and Dagenham,BR1,34.4,90,Employment,24324
1,Barnet,BR1,34.0,102,Employment,24324
2,Bexley,BR1,16.0,73,Employment,24324
3,Brent,BR1,35.3,86,Employment,24324
4,Bromley,BR1,7.4,43,Employment,24324

In [33]:
#Use this summary table to identify rough max and min distances/durations
#Off this information filter the dataframe and remove possible errors?

check = employment3_df.groupby("Origin").describe()
check

                       Distance (km)                                         \
                               count       mean        std  min   25%   50%
Origin
Barking and Dagenham           297.0  27.546465  11.710012  1.1  19.4  24.5
Barnet                         297.0  26.818519  11.760074  2.5  17.1  25.0
Bexley                         297.0  29.220202  11.273902  0.7  21.7  27.5
Brent                          297.0  24.928956  11.049858  2.7  16.4  22.3
Bromley                        297.0  33.017172  11.518429  4.0  25.6  31.6
Camden                         297.0  17.637710   9.786308  1.4   8.4  17.2
City of London                 297.0  14.610438   9.351557  0.1   6.1  14.3
Croydon                        297.0  29.296633  11.319538  1.0  22.2  27.8
Ealing                         297.0  26.137374  11.233967  1.9  18.2  23.4
Enfield                        297.0  26.945791  11.592300  1.2  18.0  25.0
Greenwich                      297.0  25.412121  10.842580  3.5  17.8  23.4
Hackney                        297.0  18.401347  10.195968  1.5   9.8  16.2
Hammersmith and Fulham         297.0  18.719192   9.536994  1.1  11.4  16.8
Haringey                       297.0  21.288552  10.886941  1.3  11.5  19.8
Harrow                         297.0  29.458249  11.685962  2.5  21.6  27.2
Havering                       297.0  34.113468  12.409988  0.8  26.6  32.7
Hillingdon                     297.0  35.253872  13.139796  1.5  28.3  33.3
Hounslow                       297.0  27.621212  11.486478  0.9  20.6  26.0
Islington                      297.0  17.104377  10.072206  1.1   7.6  15.9
Kensington and Chelsea         297.0  17.537710   9.340293  0.2   9.5  16.6
Kingston upon Thames           297.0  29.770707  11.575270  0.7  23.4  27.6
Lambeth                        297.0  18.805387   9.916546  0.9   9.4  17.9
Lewisham                       297.0  21.684512  10.122661  1.9  13.8  19.7
Merton                         297.0  22.665657   9.872722  2.6  15.3  20.6
Newham                         297.0  21.645791  10.648984  1.2  13.1  18.4
Redbridge                      297.0  27.204040  11.644984  1.0  19.1  25.6
Richmond upon Thames           297.0  27.534680  11.292070  2.4  20.5  26.0
Southwark                      297.0  18.042424   9.593386  1.2   9.7  16.9
Sutton                         296.0  29.090203  11.925646  1.3  21.1  27.3
Tower Hamlets                  297.0  17.530976   9.706238  2.0   9.3  15.9
Waltham Forest                 297.0  23.964310  11.527787  1.7  15.3  21.7
Wandsworth                     297.0  20.543434   9.941863  0.3  13.0  18.2
Westminster                    297.0  15.300673   9.331250  0.5   6.3  15.1

                                     Duration (mins)             ...         \
                           75%   max           count       mean  ...    75%
Origin                                                           ...
Barking and Dagenham    37.400  57.0           297.0  78.595960  ...   97.0
Barnet                  37.200  66.3           297.0  81.545455  ...  102.0
Bexley                  37.700  61.1           297.0  85.040404  ...  100.0
Brent                   34.700  52.7           297.0  69.875421  ...   85.0
Bromley                 41.600  75.6           297.0  86.141414  ...  101.0
Camden                  25.700  52.7           297.0  52.043771  ...   69.0
City of London          21.400  40.8           297.0  42.259259  ...   56.0
Croydon                 37.500  71.6           297.0  73.693603  ...   89.0
Ealing                  33.900  69.3           297.0  83.797980  ...  101.0
Enfield                 35.900  61.1           297.0  75.171717  ...   94.0
Greenwich               34.000  54.7           297.0  78.013468  ...   95.0
Hackney                 25.900  46.5           297.0  62.744108  ...   79.0
Hammersmith and Fulham  25.200  61.4           297.0  57.111111  ...   72.0
Haringey                30.400  52.1           297.0  57.858586  ...   75.0
Harrow                  38.200  71.7           297.0  73.084175  ...   89.0
Havering                43.800  64.1           297.0  86.346801  ...  106.0
Hillingdon              44.400  79.8           297.0  92.949495  ...  112.0
Hounslow                35.600  71.9           297.0  74.464646  ...   92.0
Islington               25.000  43.0           297.0  50.377104  ...   67.0
Kensington and Chelsea  24.200  57.3           297.0  51.016835  ...   65.0
Kingston upon Thames    38.600  66.1           297.0  82.360269  ...  100.0
Lambeth                 26.800  51.3           297.0  59.528620  ...   74.0
Lewisham                29.900  49.2           297.0  63.626263  ...   81.0
Merton                  30.400  55.2           297.0  69.703704  ...   86.0
Newham                  30.200  50.6           297.0  65.518519  ...   81.0
Redbridge               36.100  58.0           297.0  77.777778  ...   97.0
Richmond upon Thames    35.900  64.0           297.0  83.043771  ...  100.0
Southwark               25.100  54.9           297.0  58.727273  ...   72.0
Sutton                  38.325  62.8           296.0  80.790541  ...   97.0
Tower Hamlets           24.800  45.3           297.0  58.723906  ...   75.0
Waltham Forest          32.900  53.3           297.0  69.387205  ...   86.0
Wandsworth              27.700  64.2           297.0  67.491582  ...   80.0
Westminster             22.700  40.9           297.0  44.717172  ...   59.0

                              Count of Workers                              \
                          max            count          mean           std
Origin
Barking and Dagenham    145.0            297.0  16811.734007  25557.934818
Barnet                  152.0            297.0  16811.734007  25557.934818
Bexley                  147.0            297.0  16811.734007  25557.934818
Brent                   133.0            297.0  16811.734007  25557.934818
Bromley                 156.0            297.0  16811.734007  25557.934818
Camden                  115.0            297.0  16811.734007  25557.934818
City of London           97.0            297.0  16811.734007  25557.934818
Croydon                 152.0            297.0  16811.734007  25557.934818
Ealing                  151.0            297.0  16811.734007  25557.934818
Enfield                 136.0            297.0  16811.734007  25557.934818
Greenwich               132.0            297.0  16811.734007  25557.934818
Hackney                 119.0            297.0  16811.734007  25557.934818
Hammersmith and Fulham  126.0            297.0  16811.734007  25557.934818
Haringey                111.0            297.0  16811.734007  25557.934818
Harrow                  146.0            297.0  16811.734007  25557.934818
Havering                158.0            297.0  16811.734007  25557.934818
Hillingdon              157.0            297.0  16811.734007  25557.934818
Hounslow                156.0            297.0  16811.734007  25557.934818
Islington               104.0            297.0  16811.734007  25557.934818
Kensington and Chelsea  121.0            297.0  16811.734007  25557.934818
Kingston upon Thames    155.0            297.0  16811.734007  25557.934818
Lambeth                 130.0            297.0  16811.734007  25557.934818
Lewisham                131.0            297.0  16811.734007  25557.934818
Merton                  137.0            297.0  16811.734007  25557.934818
Newham                  123.0            297.0  16811.734007  25557.934818
Redbridge               142.0            297.0  16811.734007  25557.934818
Richmond upon Thames    159.0            297.0  16811.734007  25557.934818
Southwark               121.0            297.0  16811.734007  25557.934818
Sutton                  153.0            296.0  16868.283784  25582.597748
Tower Hamlets           120.0            297.0  16811.734007  25557.934818
Waltham Forest          126.0            297.0  16811.734007  25557.934818
Wandsworth              149.0            297.0  16811.734007  25557.934818
Westminster             108.0            297.0  16811.734007  25557.934818


                        min      25%      50%       75%       max
Origin
Barking and Dagenham    1.0  6001.00  11353.0  18622.00  349323.0
Barnet                  1.0  6001.00  11353.0  18622.00  349323.0
Bexley                  1.0  6001.00  11353.0  18622.00  349323.0
Brent                   1.0  6001.00  11353.0  18622.00  349323.0
Bromley                 1.0  6001.00  11353.0  18622.00  349323.0
Camden                  1.0  6001.00  11353.0  18622.00  349323.0
City of London          1.0  6001.00  11353.0  18622.00  349323.0
Croydon                 1.0  6001.00  11353.0  18622.00  349323.0
Ealing                  1.0  6001.00  11353.0  18622.00  349323.0
Enfield                 1.0  6001.00  11353.0  18622.00  349323.0
Greenwich               1.0  6001.00  11353.0  18622.00  349323.0
Hackney                 1.0  6001.00  11353.0  18622.00  349323.0
Hammersmith and Fulham  1.0  6001.00  11353.0  18622.00  349323.0
Haringey                1.0  6001.00  11353.0  18622.00  349323.0
Harrow                  1.0  6001.00  11353.0  18622.00  349323.0
Havering                1.0  6001.00  11353.0  18622.00  349323.0
Hillingdon              1.0  6001.00  11353.0  18622.00  349323.0
Hounslow                1.0  6001.00  11353.0  18622.00  349323.0
Islington               1.0  6001.00  11353.0  18622.00  349323.0
Kensington and Chelsea  1.0  6001.00  11353.0  18622.00  349323.0
Kingston upon Thames    1.0  6001.00  11353.0  18622.00  349323.0
Lambeth                 1.0  6001.00  11353.0  18622.00  349323.0
Lewisham                1.0  6001.00  11353.0  18622.00  349323.0
Merton                  1.0  6001.00  11353.0  18622.00  349323.0
Newham                  1.0  6001.00  11353.0  18622.00  349323.0
Redbridge               1.0  6001.00  11353.0  18622.00  349323.0
Richmond upon Thames    1.0  6001.00  11353.0  18622.00  349323.0
Southwark               1.0  6001.00  11353.0  18622.00  349323.0
Sutton                  1.0  6007.75  11375.5  18684.75  349323.0
Tower Hamlets           1.0  6001.00  11353.0  18622.00  349323.0
Waltham Forest          1.0  6001.00  11353.0  18622.00  349323.0
Wandsworth              1.0  6001.00  11353.0  18622.00  349323.0
Westminster             1.0  6001.00  11353.0  18622.00  349323.0

[33 rows x 24 columns]

In [34]:
#SAVE AND EXPORT
#Saving the finsihed retail dataframe to the retail dummy data csv
#After executing this line the file should be available on the left hand side of the screen
employment3_df.to_csv('03. Employment Activities Table.csv', index=False)